<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>QA</title>
</head>
<body>

    <h1><%= question %></h1>
    <pre><%= answer %></pre>

    <form action="" method="post" class="form-example">
        <div class="form-example">
          <label for="name">Ask any question: </label>
          <input type="text" name="question" id="question" required>
        </div>
        <div class="form-example">
           <input type="submit" style="display: none" />
        </div>
        
      </form>
    
</body>
</html>